* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.logo {
    font-size: 48px;
    color: #f9faf8;
    weight: 900;
}

.linkbox {
    ;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5 {
    flex-grow: 1;
}